body, h1, h2, h3, nav, ul, li, a {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	font-family: Arial, sans-serif;
}

/* Main content */
.content {
	padding: 16px;
	margin-top: 40px;
}  

.image-lund {
	max-width: 600px;
	max-height: 600px;
}

.image-borgen {
	max-width: 300px;
	max-height: 500px;
}

/* Table */
table {
	max-width: 700px;
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;   /* Centers the table-container */
}
th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	vertical-align: top;
}
th {
	background-color: #f2f2f2;
	text-align: center;
}
ul {
	padding: 18px;
	margin: 0;
}
li {
	padding: 2px 0; /* Adds some space between list items */
}


/* Style the navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	display: flex;
    justify-content: center; /* This centers the items horizontally */
    align-items: center; /* This centers the items vertically if the navbar has a specific height */
}

/* Navigation links */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* The hamburger menu */
.menu-icon {
	display: none;
	color: white;
	float: right;
	padding: 14px 16px;
	cursor: pointer;
}

/* When the screen is less than 600 pixels wide, hide all nav items and display the hamburger menu */
@media screen and (max-width: 600px) {
	.navbar a {display: none;}
	.menu-icon {display: block;}
}

  
/* The container for the menu items */
.menu-container {
	clear: both;
	position: fixed;
	background-color: #333;
	width: 100%;
	overflow: hidden;
	display: none;
}

/* Menu items */
.menu-container a {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Eight columns */
    grid-gap: 10px;
	max-width: 600px; /* Set your desired maximum width */
    margin: 0 auto; /* This centers the div */
    width: 100%; /* Ensures the div takes up the full width up to the max-width */
}

/* Spanning the first row items across two columns each */
.grid-item:nth-child(-n+4) {
	grid-column: span 2;
}
  
/* Positioning the second row items */
.grid-item:nth-child(5) { grid-column: 2 / span 2; }
.grid-item:nth-child(6) { grid-column: 4 / span 2; }
.grid-item:nth-child(7) { grid-column: 6 / span 2; }

.grid-item {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Height is set to auto to accommodate the text */
    text-align: center; /* Centers the text below the image */
}

.grid-item img {
    width: 100%;
    height: 150px; /* Adjust as needed to maintain aspect ratio */
    object-fit: cover;
}

.grid-item p {
    margin: 5px 0 0; /* Adjust margin as needed */
}

ul {
    padding-left: 10%; /* Adds padding on the left */
    text-align: left; /* Ensures text is aligned to the left */
}

ul li {
    text-align: left; /* Ensures text is aligned to the left */
    position: relative; /* Positions the pseudo-element relative to the li */
	max-width: 800px; /* Set your desired maximum width */
    margin: 0 auto; /* This centers the div */
    width: 100%; /* Ensures the div takes up the full width up to the max-width */
}

p {
    max-width: 800px; /* Set your desired maximum width */
    margin: 0 auto; /* This centers the div */
    width: 100%; /* Ensures the div takes up the full width up to the max-width */
}

.container {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically in the center */
	justify-content: space-between; /* Aligns the h1 to the left and the image to the right */
	max-width: 800px; /* Set your desired maximum width */
	margin: 0 auto; /* This centers the div */
	margin-top: 20px;
	width: 100%; /* Ensures the div takes up the full width up to the max-width */
  }
  .container h1 {
	font-size: xx-large; 
	margin-right: 20px; /* Adds some space between the h1 and the image */
  }
  .container img {
    height: 100px; /* Sets the height of the image */
  }